.navbar {
    background: #FFFFFF;
}

.logo {
    width: 100%;
    margin-left: 83px;
}

.profile {
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
}

.profile-img {
    box-sizing: border-box;
    width: 45.46px;
    height: 45.46px;
    border: 1.26265px solid #DA7C7C;
    border-radius: 216.254px;
}

.top-nav {
    background-color: #F6F5F3;
    border: none;
}

.profile-head {
    width: 110px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #414146;
}

.form-select {
    background-color: #F6F5F3;
    border: none;
}

.top-nav {
    background-color: #F6F5F3;
    border: none;
}

.side-nav {
    border: none;
    background: transparent;
}

.top-cont {
    background: #F6F5F3;
    border-radius: 8px;
    padding-bottom: 66px;
    padding-top: 22px;
}

.end-cont {
    background: transparent;
    margin-top: 16px;
}

.main-div {
    background: #FFFFFF;
    border: 1px solid #F0F1F2;
    border-radius: 16px;
}

.nav-link {
    height: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #858F94;
}

.nav-link:hover {
    background: #F6F5F3;
    border-radius: 8px;
    color: #E89F71;
}

.li-icons {
    padding: inherit;
}

.dash-icons {
    padding: inherit;
    height: 43px;
}

.nav-link .svg {
    fill: #858F94;
    margin-right: 18px;
    margin-left: 26px;
}

.nav-link:hover .svg {
    fill: #E89F71;
}

.active {
    background: #F6F5F3;
    border-radius: 8px;
    color: #E89F71;
}

.active .svg {
    fill: #E89F71;
}

.input-group {
    background: #FFFFFF;
    border: 1px solid #F0F1F2;
    border-radius: 8px;
}

.search-field {
    background: #FFFFFF;
    border: 0px;
}

.form-control {
    background: #FFFFFF;
    border: 1px;
    border-left: 0px;
}

.table {
    width: max-content;
}

.table-row {
    background: #FFFFFF;
    border: 1px solid #F0F1F2;
    border-radius: 16px;
    color: #ACB2B6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
}

.sm {
    color: #858F94;
    text-align: center;
}

.add-td {
    width: 200px;
}

thead {
    border-style: hidden;
}

th {
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
}

.table-data {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    color: #858F94;
}

.pagination .pre {
    border: 1px solid #F0F1F2;
    border-radius: 4px;
}

.pagination .nxt {
    border: 1px solid #F0F1F2;
    border-radius: 4px;
}



.pagination .page-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #414146;
    border: none;
    background-color: transparent;
}

.pagination .active-link {
    background: #E89F71;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.btn-outline-success {
    background: rgba(118, 183, 87, 0.2);
    border: 1px solid #76B757;
    border-radius: 4px;
}

.btn-outline-success:hover {
    background: rgba(118, 183, 87, 0.2);
    border: 1px solid #76B757;
    border-radius: 4px;
    color: #76B757;
}

.btn-outline-danger {
    background: rgba(208, 18, 18, 0.1);
    border: 1px solid #D01212;
    border-radius: 4px;
}

.btn-outline-danger:hover {
    background: rgba(208, 18, 18, 0.1);
    border: 1px solid #D01212;
    border-radius: 4px;
    color: #D01212;
}

@media screen and (max-width:420px) {
    .logo {
        margin-left: 0px !important;
    }

    .profile {
        display: none !important;
    }

    h6 {
        font-size: 11px !important;
        text-align: center;
    }

    .pagination {
        justify-content: space-around !important;
    }
}

@media screen and (max-width:768px) {
    .logo {
        margin-left: 0px !important;
    }

    .profile {
        display: none !important;
    }

    h6 {
        font-size: 11px !important;
        text-align: center;
    }

    .pagination {
        justify-content: space-around !important;
    }
}

@media screen and (max-width:992px) {
    .logo {
        margin-left: 0px !important;
    }

    .profile {
        display: none !important;
    }
}