<div class="card">
    <div class="d-flex h-100 responsive-card register_wrap">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card border h-100 text-white">
                <div class="image-size">
                    <img src="../../../assets/images/signin/left-banner.png" class="card-img border" width="100%"
                        height="100%" alt="banner">
                </div>
                <div class="card-img-overlay">
                    <div class="signin-alignment">
                        <div class="">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="banner-logo">
                                    <img src="../../../assets/images/signin/banner-logo.png" class="card-img-top"
                                        alt="banner-logo" width="auto" />
                                </div>
                            </div>
                            <h3 class="header mt-4">“Berbagai kebutuhan <br /> interior rumah anda”</h3>
                            <p class="paragraph">Sourcezee.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="container h-100 py-4">
                <div class="signin-alignment responsive-card-1">
                    <div class="col-lg-12">
                        <div class="container-fluid">
                            <div style="width: 100%; text-align: end;">
                                <img (click)="goTo()" src="../../../assets/images/common/cross.png" width="24px"
                                    height="24px" />
                            </div>
                            <h3 class="title mb-4">Sign up for free</h3>

                            <form *ngIf="!isSuccessful" [formGroup]="formgroup" #form="ngForm"
                                (ngSubmit)="onSubmit()">
                                <div class="d-lg-flex justify-content-center align-items-baseline gap-4">
                                    <div class="form-text form-text-res">Please select</div>
                                    <div class="d-lg-flex justify-content-center align-items-baseline gap-3">
                                        <div class="form-group">
                                            <label class="radio-container form-text-1" style="color: #000;">Buy From
                                                Sourcezee
                                                <input class="radio-input" type="radio" checked="checked"
                                                    name="user_type" id="buyer" value="Buyer"
                                                    formControlName="user_type" required>
                                                <span class="custom-control-label checkmark-1" for="buyer"></span>
                                            </label>

                                        </div>
                                        <div class="form-group">
                                            <label class="radio-container form-text-1" style="color: #000;">Sell On
                                                Sourcezee
                                                <input class="radio-input" type="radio" checked="unchecked"
                                                    name="user_type" id="seller" value="Seller"
                                                    formControlName="user_type">
                                                <span class="custom-control-label checkmark-1" for="seller"></span>

                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="row my-md-3">
                                    <div class="col-lg-6">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Company Name" type="text" class="form-control" id=""
                                                name="company_name" formControlName="company_name" 
                                                aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['company_name'].invalid && (f['company_name'].dirty || f['company_name'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['company_name'].errors?.['required']">
                                                    Company Name is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3 form-group">
                                            <input placeholder="First Name*" type="text" class="form-control"
                                                name="first_name" formControlName="first_name" required id=""
                                                aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['first_name'].invalid && (f['first_name'].dirty || f['first_name'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['first_name'].errors?.['required']">
                                                    First Name is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Last Name*" type="text" class="form-control"
                                                name="last_name" formControlName="last_name" required id=""
                                                aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['last_name'].invalid && (f['last_name'].dirty || f['last_name'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['last_name'].errors?.['required']">
                                                    Last Name is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Phone*" type="text" class="form-control" name="mobile"
                                                formControlName="mobile" required id="mobile" aria-describedby=""
                                                autocomplete="off" />
                                            <div *ngIf="f['mobile'].invalid && (f['mobile'].dirty || f['mobile'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['mobile'].errors?.['required']">
                                                    Phone is required.
                                                </div>
                                                <div *ngIf="!f['mobile'].errors?.['required'] && !f['mobile'].errors?.['minLength']
                                                    && !f['mobile'].errors?.['maxLength']">
                                                    Invalid Mobile Number.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Fax" type="text" class="form-control" name="fax"
                                                formControlName="fax"  id="" aria-describedby=""
                                                autocomplete="off" />

                                            <div *ngIf="f['fax'].invalid && (f['fax'].dirty || f['fax'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['fax'].errors?.['required']">
                                                    Fax is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Address1" type="text" class="form-control"
                                                name="address" formControlName="address"  id=""
                                                aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['address'].invalid && (f['address'].dirty || f['address'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['address'].errors?.['required']">
                                                    Address is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Address2" type="text" class="form-control"
                                                name="address2" formControlName="address2"  id=""
                                                aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['address2'].invalid && (f['address2'].dirty || f['address2'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['address2'].errors?.['required']">
                                                    Address is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Country*" type="text" class="form-control"
                                                name="country" formControlName="country" required id=""
                                                aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['country'].invalid && (f['country'].dirty || f['country'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['country'].errors?.['required']">
                                                    Country is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3 form-group">
                                            <input placeholder="City*" type="text" class="form-control" name="city"
                                                formControlName="city" required id="" aria-describedby=""
                                                autocomplete="off" />

                                            <div *ngIf="f['city'].invalid && (f['city'].dirty || f['city'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['city'].errors?.['required']">
                                                    City is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3 form-group">
                                            <input placeholder="State*" type="text" class="form-control" name="state"
                                                formControlName="state" required id="" aria-describedby=""
                                                autocomplete="off" />

                                            <div *ngIf="f['state'].invalid && (f['state'].dirty || f['state'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['state'].errors?.['required']">
                                                    State is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Zip*" type="text" class="form-control" name="zip"
                                                formControlName="zip" required id="" aria-describedby=""
                                                autocomplete="off" />

                                            <div *ngIf="f['zip'].invalid && (f['zip'].dirty || f['zip'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['zip'].errors?.['required']">
                                                    Zip is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Tax ID / EIN*" type="text" class="form-control"
                                                name="tax_id" formControlName="tax_id" required id="tax_id"
                                                aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['tax_id'].invalid && (f['tax_id'].dirty || f['tax_id'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['tax_id'].errors?.['required']">
                                                    Tax is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Website" type="text" class="form-control" name="website"
                                                formControlName="website"  id="" aria-describedby=""
                                                autocomplete="off" />

                                            <div *ngIf="f['website'].invalid && (f['website'].dirty || f['website'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['website'].errors?.['required']">
                                                    Website is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Email*" type="email" class="form-control" name="email"
                                                formControlName="email" required id="" aria-describedby=""
                                                autocomplete="off" />

                                            <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['email'].errors?.['required']">
                                                    Email is required.
                                                </div>
                                                <div
                                                    *ngIf="!f['email'].errors?.['required'] && f['email'].errors?.['email']">
                                                    Invalid email format.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 form-group">
                                            <input placeholder="Confirm Email*" type="email" class="form-control"
                                                name="confirm_email" formControlName="confirm_email" required
                                                id="confirm_email" aria-describedby="" autocomplete="off" />

                                            <div *ngIf="f['confirm_email'].invalid && (f['confirm_email'].dirty || f['confirm_email'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['confirm_email'].errors?.['required']">
                                                    Email is required.
                                                </div>
                                                <div
                                                    *ngIf="!f['confirm_email'].errors?.['required'] && f['confirm_email'].errors?.['email']">
                                                    Invalid email format.
                                                </div>
                                                <div *ngIf="f['confirm_email']?.errors?.['matching']">
                                                    Confirm Email does not match
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 password-field form-group">
                                            <div class="img-pass" (click)="showPassword()">
                                                <img *ngIf="!show_eye" class="eyes-hide"
                                                    src="../../../assets/images/signin/hide-eyes-icon.png" />
                                                <img *ngIf="show_eye" class="eyes-hide"
                                                    src="../../../assets/images/signin/password-vector.png" alt="">
                                            </div>
                                            <input placeholder="Password*" [type]="show_button ? 'text' : 'password'"
                                                class="form-control" name="password" formControlName="password"
                                                minlength="6" required id="exampleInputPassword1" autocomplete="off" />

                                            <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['password'].errors?.['required']">
                                                    Password is required.
                                                </div>
                                                <div
                                                    *ngIf="!f['password'].errors?.['required'] && !f['password'].errors?.['minlength'] && !f['password'].errors?.['maxLength']">
                                                    Invalid password format.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 password-field form-group">
                                            <div class="img-pass" (click)="confirmPassword()">
                                                <img *ngIf="!showconfirm_eye" class="eyes-hide"
                                                    src="../../../assets/images/signin/hide-eyes-icon.png" />
                                                <img *ngIf="showconfirm_eye" class="eyes-hide"
                                                    src="../../../assets/images/signin/password-vector.png" alt="">
                                            </div>
                                            <input placeholder="Confirm Password*"
                                                [type]="conform_button ? 'text' : 'password'" class="form-control"
                                                name="confirm_password" formControlName="confirm_password" minlength="6"
                                                required id="confirm_password" autocomplete="off" />

                                            <div *ngIf="f['confirm_password'].invalid && (f['confirm_password'].dirty || f['confirm_password'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['confirm_password'].errors?.['required']">
                                                    Confirm Password is required.
                                                </div>
                                                <div
                                                    *ngIf="!f['confirm_password'].errors?.['required'] && (f['confirm_password'].errors?.['minLength'] || f['confirm_password'].errors?.['maxLength'])">
                                                    Invalid Confirm Password format.
                                                </div>
                                                <div *ngIf="f['confirm_password']?.errors?.['matching']">
                                                    Confirm Password does not match
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label class="mendotry">All * fields are mendatory</label>
                                </div>
                               
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <div class="position-relative h-100">
                                        <label class="container-1 form-text-1">
                                            <span style="color: #000;">Standard</span> T&C * <span
                                                style="color: #000;">Apply, Please Check The Box To Proceed.</span>
                                            <input class="inputs" type="checkbox" checked="checked" name="t_n_c"
                                                formControlName="t_n_c" required>

                                            <div *ngIf="f['t_n_c'].invalid && (f['t_n_c'].dirty || f['t_n_c'].touched)"
                                                class="alert-danger">
                                                <div *ngIf="f['t_n_c'].errors?.['required']">
                                                    T&C is required
                                                </div>
                                            </div>
                                            

                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="isSignUpFailed"> Signup
                                    failed! {{ errorMessage }}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="button" (click)="clearForm()"
                                            class="btn btn-outline-dark w-100 mt-3 common_clear_hover_btn">CLEAR</button>
                                    </div>

                                    <div class="col-lg-6">

                                     <!-- <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary w-100 mt-3">CREATE ACCOUNT</button> -->

                                        <button type="submit" class="btn btn-primary w-100 mt-3 common_hover_btn" >CREATE ACCOUNT</button>
                                    </div>

                                    

                                    <!-- <div class="success alert-success" *ngIf="isSuccessful"> Signup successfully done! {{returnMessage}}
                                    </div> -->
                                    <div class="form-text mt-3">Already have an account? <a href="signin.html"
                                            routerLink="/login" class="link common_text_hover">Sign In here</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="exampleModal" [ngStyle]="{'display' : (isSuccessful ? 'block' : 'none')}"
    style="background: #00000085;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-lg-4">
            <div class="modal-header">
                <div class="modal-header pb-0">
                    <div class="success-img">
                        <img src="../../../assets/images/common/successfully.png" width="
                    100%" height="100%" />
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h3 class="modal-body-title">
                    Signup successfully done!
                </h3>
                <p class="form-text-1" style="color: #000000; text-align: center;">
                    we need 24 hours to review your profile. We will get back to you in next 24 hours.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary common_hover_btn" style="width: 113px; height: 48px;"
                    data-bs-dismiss="modal" (click)="redirectToLogin()">ok</button>
            </div>
        </div>
    </div>
</div>