<!-- Navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
    <div class="container-fluid">
        <div class="d-xs-block d-sm-block d-md-block d-lg-none">
            <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/homepage/brand.png" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <div class="d-xs-none d-sm-none d-md-none d-lg-block">
                <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/homepage/brand.png" /></a>
            </div>
            <ul class="navbar-nav mt-md-4 mt-lg-0 mb-2 mb-lg-0 gap-5">
                <li class="nav-item">
                    <a class="nav-link link-text" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text" aria-current="page">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text" >Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text" href="/#div-faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-text" routerLink="/register">Sign up as Suplier</a>
                </li>
            </ul>
            <div class="d-flex gap-2">
                <button class="btn btn-primary" type="submit" routerLink="/login"><img src="../../../assets/images/homepage/user.png" />
                    <span class="btn-span" >Login</span></button>
            </div>
        </div>
        <!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sourcezee</h5>
                <button type="button" class="btn-close btn-close-grey" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-xs-none d-sm-none d-md-none d-lg-block">
                    <a class="navbar-brand" href="#"><img src="../../../assets/images/homepage/brand.png" /></a>
                </div>
                <ul class="navbar-nav mt-md-4 mt-lg-0 mb-2 mb-lg-0 gap-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#div-faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-text" routerLink="/register">Sign up as Suplier</a>
                    </li>
                </ul>
                <div class="d-flex gap-2">
                    <button class="btn btn-outline-primary">Sign up</button>
                    <button class="btn btn-primary" routerLink="/login"><img src="../../../assets/images/homepage/user.png" />
                        <span class="btn-span">Login</span></button>
                </div>
            </div>
        </div> -->
    </div>
</nav>
<!-- Navbar End -->
<div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../../assets/images/manufacturpage/banner.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="carousal-title">Manufacturing</h3>
                    <p class="carousal-paragraph">All- in- one Dashboard to design web based catalogue, create
                        interactive<br /> presentatins & professional tech pack, manage
                        sampling & order, receive feedback,<br /> and stay updated</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 container-fluid">
        <div class="row g-4 about-row">
            <div class="col-lg-6">
                <img src="../../../assets/images/manufacturpage/topgroup.png" width="100%" />
            </div>
            <div class="col-lg-6 container-fluid">
                <div class="container-fluid d-flex align-items-center h-100">
                    <div>
                        <ul class="list-group">
                            <h3 class="head">Digital tool for product creation and management</h3>
                            <h6 class="sm-head">Say good bye to traditional PPT format catalogue which is
                                time-consuming & less
                                flexible and requires additional manpower.</h6>
                            <h6 class="sm-head">With Geniemode dashboard, you can:</h6>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Design web based
                                catalogue in just 2 minutes
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Perform regular
                                updates quickly and at a zero cost
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Create Interactive
                                presentations
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Create a digital
                                repository for your products free of cost. Upload and never lose your products’
                                data.
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Do rapid search
                                using keywords from anywhere
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Control visibility.
                                Decide who you want to show these products.
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Get live data. Get
                                to know which product is being clicked, viewed and added to cart and how many times
                                even if the real sales doesn’t happen.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mt-4 container-fluid">
        <div class="row g-4 about-row">
            <div class="col-lg-6 container-fluid">
                <div class="container-fluid d-flex align-items-center h-100">
                    <div>
                        <ul class="list-group">
                            <h3 class="head">Tech pack tool</h3>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Create
                                professional & easy to share
                                tech pack in minutes
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Update details
                                across multiple tech packs with a few clicks
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Track the progress
                                of your tech-pack from design to approvals
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Avoid redundant work
                                & errors. Store, sync & reuse images, cards, files and templates without any mistake
                                with consistency.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <img src="../../../assets/images/manufacturpage/about.png" width="100%" />
            </div>
        </div>
    </div>

    <div class="mt-4 container-fluid">
        <div class="row g-4 about-row">
            <div class="col-lg-6">
                <img src="../../../assets/images/manufacturpage/thirdimg.png" width="100%" />
            </div>
            <div class="col-lg-6 container-fluid">
                <div class="container-fluid d-flex align-items-center h-100">
                    <div>
                        <ul class="list-group">
                            <h3 class="head">Sample management tool</h3>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Streamline your
                                sampling management process
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Track samples as you
                                send them around the world and minimize sample loss
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Instantly monitor
                                the status & location of each sample
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Track lost, missing,
                                unreturned and gifted items
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Track the adoption
                                rate of samples which will help you to improve your sample to order efficiency and
                                maximize your ROI
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mt-4 container-fluid">
        <div class="row g-4 about-row">
            <div class="col-lg-6 container-fluid">
                <div class="container-fluid d-flex align-items-center h-100">
                    <div>
                        <ul class="list-group">
                            <h3 class="head">Order Management Tool</h3>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Eliminate
                                information asymmetry
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Manage all
                                communication, documents and updates related to order on one place
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Real-time
                                collaboration so your team can work on the same project at the same time
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <img src="../../../assets/images/manufacturpage/mark.png" class="tick-mark" />Reduce production
                                lead time
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <img src="../../../assets/images/manufacturpage/endimg.png" width="100%" />
            </div>
        </div>
    </div>


    <!-- Footer start -->
    <section class="footer">
        <div class="container-fluid">
            <div class="row g-4">
                <div class="col-lg-5">
                    <ul class="ul-list">
                        <li>
                            <div class="footer-img">
                                <img src="../../../assets/images/homepage/footer-logo.png" class="card-img" width="100%"
                                    height="100%" />
                            </div>
                        </li>
                        <li class="footer-text">One stop shop for all
                            your sourcing needs</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="ul-list">
                        <li>
                            <h5 class="footer-title">
                                Information
                            </h5>
                        </li>
                    </ul>
                    <ul class="ul-list">
                        <li class="footer-text">About us</li>
                        <li class="footer-text">Blog</li>
                        <li class="footer-text">Sitemap</li>
                    </ul>
                </div>

                <div class="col-lg-2">
                    <ul class="ul-list">
                        <li>
                            <h5 class="footer-title">
                                Policy
                            </h5>
                        </li>
                    </ul>
                    <ul class="ul-list">
                        <li class="footer-text">Terms & conditions</li>
                        <li class="footer-text">Privacy policy</li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <ul class="ul-list">
                        <li>
                            <h5 class="footer-title">
                                Contact Us
                            </h5>
                        </li>
                    </ul>
                    <ul class="ul-list">
                        <li class="footer-text">For any queries, email us at
                            contact@sourcezee.com</li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <p class="footer-sub-text">© 2022 <span style="color: #E89F71;">Sourcezee</span>, All right
                        reserved.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer End -->
</div>